ports:
  # Defines the HTTP entrypoint named 'web'
  web:
    port: 8000
    expose:
      default: true
    exposedPort: 81
    nodePort: 30002
    protocol: TCP
#   redirections:
#     entryPoint:
#       to: websecure
#       scheme: https
#       permanent: true
  # Defines the HTTPS entrypoint named 'websecure'
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 444
    nodePort: 30003
    protocol: TCP
    http3:
      enabled: true
    tls:
      enabled: true

# Enables the dashboard in secure mode
api:
  dashboard: true
  insecure: false

# Enables the dashboard
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.vmstar.lan`)
    entryPoints:
      - websecure
#    middlewares:
#      - name: dashboard-auth

# Creates a BasiAuth Middleware and Secret for the Dashboard Security
#extraObjects:
#  - apiVersion: v1
#    kind: Secret
#    metadata:
#      name: dashboard-auth-secret
#    type: kubernetes.io/basic-auth
#    stringData:
#      username: admin
#      password: "P@ssw0rd" # Replace with an Actual Password
#  - apiVersion: traefik.io/v1alpha1
#    kind: Middleware
#    metadata:
#      name: dashboard-auth
#    spec:
#      basicAuth:
#        secret: dashboard-auth-secret

providers:
  kubernetesGateway:
    enabled: true
    experimentalChannel: false
  kubernetesIngressNginx:
    enabled: true
    ingressClass: "nginx-traefik"

# We don't need the traefik ingress class, we use the nginx ingress controller instead
ingressClass:
  enabled: true
  name: nginx-traefik
  isDefaultClass: false

# Gateway Listeners
gateway:
  enabled: true
  listeners:
    web:
      port: 8000
      protocol: HTTP
      namespacePolicy:
        from: All
    websecure:
      port: 8443
      protocol: HTTPS
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
        - kind: Secret
          name: vmstar.lan

gatewayClass:
  enabled: true

service:
  enabled: true
  single: true
  type: LoadBalancer
  annotations:
    metallb.universe.tf/allow-shared-ip: "true"

logs:
  general:
    level: INFO
    noColor: false
  access:
    enabled: true

# Enables Prometheus for Metrics
metrics:
  prometheus:
    enabled: false

deployment:
  kind: Deployment

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 1024Mi

podDisruptionBudget:
  enabled: true
  minAvailable: 1

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 1

readinessProbe:
  failureThreshold: 1
  initialDelaySeconds: 2
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 2
livenessProbe:
  failureThreshold: 3
  initialDelaySeconds: 2
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 2

global:
  checkNewVersion: true
  sendAnonymousUsage: false

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: "{{ template \"traefik.fullname\" . }}"
