apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: response-header-modifier
  namespace: nginx-app-gateway
  labels:
    httproute: response-header-modifier
spec:
  parentRefs:
    - kind: Gateway
      name: traefik-gateway
      namespace: traefik-gateway
  hostnames:
    - "nginx-gateway.vmstar.lan"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    filters:
    - type: ResponseHeaderModifier
      responseHeaderModifier:
        add:
        - name: Access-Control-Allow-Origin
          value: "*"
        - name: Access-Control-Allow-Methods
          value: "GET, POST, PUT, DELETE, OPTIONS"
        - name: Access-Control-Allow-Headers
          value: "Authorization, Content-Type"
